body {
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 1280px;
}

.container {
    position: relative;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    background: #fff;
    -webkit-box-shadow: 0 5px 15px .00px rgba(0, 1, 1, .2);
    box-shadow: 0 5px 15px .00px rgba(0, 1, 1, .2);
}

a {
    text-decoration: none;
}


/*index.html*/

/*Header*/

.main-header {
    position: relative;
}

.header-logo {
    position: absolute;
    left: 50%;
    display: inline-block;
    width: 138px;
    height: 70px;
    vertical-align: top;
    margin-left: -69px;
    z-index: 1000;
}

.site-navigation {
    font-size: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #000000;
    padding-bottom: 2px;
}

.main-navigation li {
    font-size: 14px;
    line-height: 26px;
    width: 20%;
    padding-top: 14px;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000000;

}

.main-navigation li:nth-child(2) {
    margin-right: auto;
}

.main-navigation a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.site-navigation a {
    display: block;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #cacaca;
}

.visited-page a {
    color: #766357;
}

/* Intro*/

.welcome-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 508px;
    margin-bottom: 58px;
    padding-top: 76px;

    text-align: center;

    background: url('../img/mask.png') no-repeat center bottom,
        #8b99a2 url('../img/background-main.jpg') no-repeat 50% 28%;
    background-color: #c0aba3;
    background-size: auto, cover;
}

.welcome-block img {
    width: 458px;
    height: 352px;
}

.large-text {
    font-size: 21px;
    line-height: 25px;
    font-weight: bold;
    width: 576px;
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
    letter-spacing: 0.2px;

}

.five-reasons {
    font-size: 14px;
    line-height: 26px;
    width: 576px;
    margin: 0 auto;
    margin-bottom: 52px;
    text-align: center;
    letter-spacing: -0.3px;
}

/*Advantages*/

.five-reasons-list {
    list-style: none;
    color: #000000;
}

.five-reasons-list .advantage-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin: 46px auto 9px auto;
    max-width: 151px;
    word-break: break-word;
}

.five-reasons-list p {
    font-size: 14px;
    line-height: 21px;
}

.advantage-number {
    padding-top: 9px;
}

.five-reasons-list .reason {
    word-break: break-word;
    margin: 22px auto;
    letter-spacing: 0.3px;
}

.advantage-1,
.advantage-2 {
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    text-align: center;
    color: #ffffff;
}

.advantage-3,
.advantage-4,
.advantage-5 {
    width: 400px;
    min-height: 256px;
    background-color: #eeeeee;
    text-align: center;
}

.advantage-1 .reason {
    max-width: 300px;
}

.advantage-2 .reason {
    max-width: 320px;
}

.advantage-3 .reason,
.advantage-4 .reason {
    max-width: 280px;
}

.advantage-5 .reason {
    max-width: 260px;
}

.additional-advantages-list p {
    color: #000000;
}

.additional-advantages-list .subadvantage-title {
    color: #000000;
}

.subadvantage {
    min-height: 330px;
    width: 400px;
    background-color: #ffffff;
    text-align: center;
    padding: 56px 20px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.subadvantage .icon {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subadvantage-title {
    padding-top: 5px;
}

.subadvantage p {
    padding-top: 5px;
    padding-left: 27px;
    width: 300px;
}

.advantage-block-img img {
    vertical-align: top;
    background-size: 100% auto;
}

.advantage-block-1,
.advantage-block-2,
.advantage-block-3,
.additional-advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/*Form*/

.pop-up-search-header {
    max-width: 576px;
    margin: 0 320px;
}

.large-text-2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 24px 0;
}

.large-text-2-text-below {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.hotel-search-button {
    background-color: #766357;
    color: #ffffff;
    text-align: center;
    border: none;
    width: 568px;
    height: 86px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 32px 316px 0;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hotel-search-button:hover {
    background-color: #604e43;
    border: none;
}

.hotel-search-button:active {
    color: #cacaca;
    background-color: #503e33;
    border: none;
}

.pop-up-search {
    background-color: #ffffff;
}

.booking-form {
    z-index: 1000;
    background-color: white;
    position: relative;
}

.booking-form form {
    width: 568px;
    height: 395px;
    z-index: 1000;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    left: 316px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.arrival {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 62px 55px 0;
}

.arrival-date-input {
    width: 312px;
    height: 38px;
    padding: 5px 14px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
}

.arrival-date-input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.arrival-date-input:focus {
    background-color: #ffffff;
    border: 2px solid #ebebeb;
}

.calendar-button {
    width: 34px;
    height: 38px;
    border: none;
    background-image: url(../img/sprites/calendar-sprite.png);
    background-repeat: no-repeat;
    background-position: 5px -79px;
    background-color: #f2f2f2;
}

.calendar-button:hover {
    background-image: url(../img/sprites/calendar-sprite.png);
    background-repeat: no-repeat;
    background-position: 5px -20px;
    background-color: #f2f2f2;
}

.calendar-button:active {
    background-image: url(../img/sprites/calendar-sprite.png);
    background-repeat: no-repeat;
    background-position: 5px -138px;
    background-color: #f2f2f2;
}


.departure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 55px 0;
}

.departure-date-input {
    width: 312px;
    height: 38px;
    /* margin-left: -1px;
    margin-top: -10px;*/
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    /* background-image: url(../img/sprites/calendar-sprite.png);
    background-repeat: no-repeat;
    background-position: 5px -79px; */
    background-color: #f2f2f2;
    /* position: relative;
    left: 21px; */
    border: 2px solid #f2f2f2;
}

.departure-date-input:hover {
    background-color: #ebebeb;
    /* background-image: url(../img/sprites/calendar-sprite.png);
    background-repeat: no-repeat;
    background-position: 5px -20px; */
    border: 2px solid #ebebeb;
}

.departure-date-input:focus {
    background-color: #ffffff;
    border: 2px solid #ebebeb;
    /* background-image: url(../img/sprites/calendar-sprite.png);
    background-repeat: no-repeat;
    background-position: 5px -140px; */
}

.arrival-date-input-and-calendar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    top: -6px;
    left: 22px;
}

.departure-date-input-and-calendar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    top: -6px;
    left: 19px;
}

.adults-and-kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -8px;
}

.adults-fields,
.kids-fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.adults-label,
.kids-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.adults-fields {
    margin: 36px 0px 0px 55px;
    padding: 0px;
}

.kids-fields {
    margin: 0px 0px 0px 53px;
}

.kids-label .person-amount {
    margin-left: 27px;
}

.adults-and-kids input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    background-color: #f2f2f2;
    opacity: 0.9;
    border: none;
    text-align: center;
}

.person-amount {
    margin-top: -6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.adults-label .person-amount {
    margin-left: 40px;
}

.decrease,
.increase {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}

.decrease {
    color: #a9a9a9;
    text-align: center;
    font-size: 0px;
    opacity: 1.9;
    border: 0px;
    background-image: url(../img/sprites/plus-minus-sprite.png);
    background-repeat: no-repeat;
    background-position: 13px -42px;
}

.decrease:hover {
    color: #000000;
    background-image: url(../img/sprites/plus-minus-sprite.png);
    background-repeat: no-repeat;
    background-position: 13px -3px;
}

.decrease:active {
    color: #81b3d2;
    background-image: url(../img/sprites/plus-minus-sprite.png);
    background-repeat: no-repeat;
    background-position: 13px -93px;
}

.increase {
    color: #a9a9a9;
    text-align: center;
    opacity: 1.9;
    border: 0px;
    background-image: url(../img/sprites/plus-minus-sprite.png);
    background-repeat: no-repeat;
    background-position: 14px -192px;
}

.increase:hover {
    color: #000000;
    background-image: url(../img/sprites/plus-minus-sprite.png);
    background-repeat: no-repeat;
    background-position: 14px -146px;
}

.increase:active {
    color: #81b3d2;
    background-image: url(../img/sprites/plus-minus-sprite.png);
    background-repeat: no-repeat;
    background-position: 14px -248px;
}

.submit-button {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    border: none;
    width: 458px;
    height: 58px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    left: 0px;
    top: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.submit-button:hover {
    background-color: #669ec0;
}

.submit-button:active {
    color: #cacaca;
    background-color: #5496bd;
}


/* Footer*/

.main-footer {
    background-color: rgba(255, 255, 255, .9);
    color: #000000;


    -webkit-box-sizing: border-box;


    box-sizing: border-box;
    width: 100%;
    min-height: 120px;
    padding: 36px 0px;

    position: absolute;
    z-index: 1000;
    bottom: -3px;
    left: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    font-size: 0px;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
    width: calc(100%/3);
}

.main-footer-hotels {
    background-color: #ffffff;
    color: #000000;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    width: 100%;
    min-height: 120px;
    padding: 23px 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    font-size: 0px;
    margin-left: 2px;
}

.footer-hashtag {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding-top: 10px;
}

.footer-hashtag a {
    color: #333;
}

.main-footer a {
    color: #000000;
    text-decoration: none;
}

.footer-social {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.footer-social ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0px auto;
    padding: 0 125px;
}

.social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0;
}

.social-button img:active {
    opacity: 0.3;
    background-color: #5496bd;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active>img {
    background-color: #5496bd;
    opacity: 0.3;
}

.footer-copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 102px;
}

.footer-copyright p {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    position: relative;
    top: -4px;
}

.footer-copyright a {
    background-image: url(../img/sprites/htmlacademy-logo-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    font-size: 0px;

    width: 115px;
    height: 41px;

    display: inline-block;
    vertical-align: middle;

    position: relative;
    top: 2px;
}

.footer-copyright a:hover {
    background-image: url(../img/sprites/htmlacademy-logo-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -84px;
}

.footer-copyright a:active {
    background-image: url(../img/sprites/htmlacademy-logo-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -167px;
}


/*hotels.html*/

.inner-page {
    color: #333333;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.selection-checkboxes {
    background-image: url("../img/hotels-search-background.jpg");
    background-size: 1200px 217px;
    background-repeat: no-repeat;
    position: relative;
    top: -15px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 217px;
}


.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.options-header {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin: 27px 0 14px 0px;
}

.hotels-options {
    list-style: none;

    font-size: 14px;
    line-height: 21px;

    color: #ffffff;

}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']+label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -12px;
    margin-bottom: 35px;
    margin-left: 0px;
}

input[type='checkbox']+label:hover {
    color: #ffffff;
}

input[type='checkbox']+label:focus {
    color: #fefdfd;
}

input[type='checkbox']+label::before {
    content: '';
    background-image: url(../img/sprites/checkboxes-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
    width: 40px;
    height: 23px;
}

input[type='checkbox']:checked+label::before {
    background-position: 0px -39px;
}

input[type='checkbox']:disabled+label::before {
    background-position: 0px -103px;
}

input[type='checkbox']:checked:disabled+label::before {
    background-position: 0px 130px;
}

.infrastructure,
.accomodation-type {
    margin-left: 33px;
}

.options-to-select {
    margin-top: 35px;
}

.accomodation-type {
    position: relative;
    left: -161px;
}

.found-sorting {
    border-bottom: 1px solid #e5e5e5;
    margin-top: -28px;
    padding-bottom: 10px;
}

.found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 73px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 4px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    width: 239px;
    margin-top: 28px;
}

.found-header {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

}

.sorting-link {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 27px 0 0 48px;
}

.sorting-option-1 {
    text-decoration: none;
    color: #81b3d2;
    font-size: 12px;
    line-height: 18px;
}

.sorting-option a {
    text-decoration: none;
    color: #cacaca;
    border-bottom: 1px dashed #81b3d2;
    font-size: 12px;
    line-height: 18px;
}

.sorting-option a:hover {
    text-decoration: none;
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-option a:active {
    text-decoration: none;
    color: #000000;
    border-bottom: none;
}

.sorting-arrow {
    position: relative;
    left: 501px;
    margin-top: 29px;
}

.sorting-arrow a {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 11px;
    background-image: url(../img/sprites/arrow-up-down-sprite.png);
    background-repeat: no-repeat;
}

.arrow-up {
    background-position: 0px -32px;
}

.arrow-down {
    background-position: -37px -32px;
    margin-left: 9px;
}

.arrow-up:hover {
    background-position: 0px -2px;
}

.arrow-down:hover {
    background-position: -37px -2px;
    margin-left: 10px;
}

.arrow-up:hover {
    background-position: 0px -2px;
}

.arrow-down:hover {
    background-position: -37px -2px;
    margin-left: 10px;
}

.arrow-up:active {
    background-position: 0px -65px;
}

.arrow-down:active {
    background-position: -37px -65px;
    margin-left: 10px;
}

.hotel-1,
.hotel-2,
.hotel-3,
.hotel-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hotel-1,
.hotel-2,
.hotel-3 {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 10px 40px;
}

.hotel-2,
.hotel-3 {
    margin-top: 16px;
}

.hotel-rating-1 {
    margin-left: auto;
    position: relative;
    top: -2px;
    left: -48px;
}

.hotel-rating-2 {
    margin-left: auto;
    position: relative;
    top: -2px;
    left: -48px;
}

.hotel-rating-3 {
    margin-left: auto;
    position: relative;
    top: -2px;
    left: -48px;
}

.hotel-rating-2 img {
    position: relative;
    left: 23px;
}

.hotel-rating-3 img {
    position: relative;
    left: 48px;
}

.hotel-image {
    margin: 0 0 0 34px;
}

.hotel-price {
    margin: -4px 0 0 29px;
}

.price-1 {
    margin-left: 40px;
}

.price-2 {
    margin-left: 64px;
}

.price-3 {
    margin-left: 20px;
}

.details {
    background-color: #81b3d2;
    color: #ffffff;
    margin: 0 0 0 29px;
    border: none;
    font: inherit;
    padding: 4px 17px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 27px;
}

.delails:hover {
    background-color: #669ec0;
}

.details:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.book {
    background-color: #766357;
    color: #ffffff;
    margin: 0 0 0 2px;
    border: none;
    font: inherit;
    padding: 4px 17px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 27px;
}

.book:hover {
    background-color: #604e43;
}

.book:active {
    color: #928a85;
    background-color: #503e33;
}

.rank {
    position: relative;
    left: -22px;
    top: 29px;
    color: #666666;
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 13px;
    font-size: 14px;
    line-height: 21px;
}

.hotel-name {
    color: #000000;
    margin: 11px 0 0 30px;
    letter-spacing: 1.5px;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.search-results {
    list-style: none;
    padding-left: 0;
}

.search-results p {
    font-size: 14px;
    line-height: 21px;
}

.raiting {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    text-align: center;
}






/*Filter*/

.filter-range {
    width: 318px;
    margin: 0px;

    color: #ffffff;
    text-transform: uppercase;

    position: relative;
    left: -70px;
    top: 25px;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 60px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 85px;
    padding: 6px 33px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}
